WANDB_API_KEY=  # Your wandb api key
WANDB_PROJECT=  # Your created project
WANDB_ENTITY=  # Your wandb entity
WANDB_MODE=  # offline or online depending if you want autosync or manual sync (eg if you are in your computer or on a cluster)

VLLM_ADDRESS=  # The address where your vLLM server with gpt-oss:20b is waiting
