RAY_SERVE_PORT=8001
MODEL_PATH=/models/checkpoint-600
MAX_BATCH_SIZE=32
NUM_REPLICAS=1
RAY_NUM_CPUS=1
RAY_NUM_GPUS=1
NVIDIA_GPU_COUNT=1
NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=compute,utility
RAY_SHM_SIZE=2gb
SERVE_HOST=0.0.0.0
SERVE_PORT=8000
DASHBOARD_HOST=0.0.0.0
DASHBOARD_PORT=8267
METRICS_EXPORT_PORT=8080
